* {font-family: Work Sans;}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
display: flex;
color: #3C354F;
font-family: Work Sans;
font-size: 18px;

font-weight: 500;

}
nav li{list-style: none;
    margin-right: 55px;
    margin-top: 50px;
}
nav > h3{
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
margin-left: 50px;
}
.btn{
    color: #3C354F;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
display: flex;
}

.txt-dec{
    justify-content: space-between;
    margin-left: 20px;
}
/*banner design*/


.ban{
    margin-left: 50px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    width: 901px;
height: 700px;

}
#p1{
    color: #0B0223;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
#p2{
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.p3{
    color: #534C64;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
}
#p4{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
}
#p5{
    border-radius: 48px;
    background: #4EC5F7;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;
}
.sec0{
    display: flex;
}
/* main body */
.sec1{
    display: flex;
}
.jui{
    margin-top: 10%;
    text-align: right;
}
#ful{
  
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.sec1{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
#p6{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
#p7{
    color: #534C64;
font-size: 24px;
font-weight: 500;
line-height: 45px; /* 187.5% */
}
#p8{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background-color: #FF42A5;
border: none;
}
.div1{
    text-align: center;
}
#huda{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
}
.div2{
    display: flex;
    width: 300px;
height: 300px;
margin:5% 5%;
gap: 5%;
}
.sec3{
    position: relative;
}
.overlay{
    position: absolute;
right: 0;
bottom: 0;
padding-top: 5%;
padding-right: 30%;
}
.sec5{
    display: flex;
}
.sec4{
    text-align: right;
    margin-top: 20%;
    
}
#p10{
    font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
}